{% extends "base.html" %}
{% block content %}


<h1 class="ml-auto mr-4"><b>ADD LISTINGS:</b></h1>
    <form action="/add" method="POST" class="form-signin ml-5">
    <label for="p_name" class="mb-1">Enter the Name of the Property:</label>
      <input id="p_name" name="p_name" class="form-control mb-2" placeholder="eg: Al Falah Residence">
        <label for="p_address" class="mb-1">Enter the Address of the Property:</label>
      <input id="p_address" name="p_address" class="form-control mb-2" placeholder="eg: Bikarnakatte, Mangalore">
      <label for="p_bhk"  class="mb-1">Enter the no of Bedrooms of the Property:</label>
      <input id="p_bhk" name="p_bhk" class="form-control mb-2" placeholder="eg: 5">
        <label for="p_sqft" class="mb-1">Enter the square feet of the Property:</label>
      <input id="p_sqft" name="p_sqft"  class="form-control mb-2" placeholder="eg: 1400" required="">


      <div class="form-group">
        <label for="p_type" class="mb-1">Choose the type of Property:</label>
        <select id="p_type" name="p_type" class="custom-select mb-2">
          <option>Flat</option>
          <option>Villa</option>
        </select>
        <label for="agreement" class="mb-1">Choose the type of Agreement:</label>
            <select id="agreement" name="agreement" class="custom-select mb-1">
              <option>Rent</option>
              <option>Sale</option>
              </select>
          </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input class="form-control" name="rent_p" id="inputEmail4" placeholder="Rent Price">
          </div>
          <div class="form-group col-md-6">
            <input name="sale_p" class="form-control" id="inputPassword4" placeholder="Sale Price">
          </div>
        </div>

        <button class="btn btn-lg btn-info btn-block" type="submit">ADD LISTING</button>

    </button>

    </form>
  </body>
</html>

{% endblock %}