{% extends "base.html" %}
{% block content %}
<div class="col-lg-6">
  <h1 class="m-4">
    Found {{no_of}} listings!
    </h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
        <th scope="col">Type</th>
      <th scope="col">BHK</th>
        <th scope="col">SqFt</th>
        <th scope="col">Agent Name</th>
        <th scope="col">Agent Contant</th>
        <th scope="col">Agreement</th>
        <th scope="col">Rent</th>
        <th scope="col">Sale</th>
        <th scope="col">Buy</th>



    </tr>
  </thead>
  <tbody>
  {% for instance in result %}
    <tr>
      <th scope="row">{{instance.P_ID}}</th>
      <td>{{instance.P_NAME}}</td>
      <td>{{instance.P_LOC}}</td>
      <td>{{instance.P_TYPE}}</td>
      <td>{{instance.P_BHK}}</td>
      <td>{{instance.P_SQFT}}</td>
      <td>{{instance.A_NAME}}</td>
      <td>{{instance.A_PHNO}}</td>
      <td>{{instance.Agreement}}</td>
      <td>{{instance.Rent_Price}}</td>
      <td>{{instance.Sales_Price}}</td>
      <td><a href="/buy/{{instance.P_ID}}"><button class="btn btn-success btn-md">Buy</button></a></td>



    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}