{% extends "base.html" %}
{% block content %}

</body></html>


    <form action="/edit/{{tTuple.P_ID}}" method="POST" class="form-group ml-5">
  <h1 class="ml-auto mr-4 mb-4"><b>EDIT LISTING NO <em>#{{tTuple.P_ID}}</em>:</b></h1>
      <label for="p_name" class="mb-1">Enter the Name of the Property:</label>
      <input id="p_name" value="{{tTuple.P_NAME}}" name="p_name" class="form-control mb-3" placeholder="eg: Al Falah Residence">
        <label for="p_address" class="mb-1">Enter the Address of the Property:</label>
      <input id="p_address" value="{{tTuple.P_LOC}}" name="p_address" class="form-control mb-3" placeholder="eg: Bikarnakatte, Mangalore">
      <label for="p_bhk"  class="mb-1">Enter the no of Bedrooms of the Property:</label>
      <input id="p_bhk" value="{{tTuple.P_BHK}}" name="p_bhk" class="form-control mb-3" placeholder="eg: 5">
        <label for="p_sqft" class="mb-1">Enter the square feet of the Property:</label>
      <input id="p_sqft" value="{{tTuple.P_SQFT}}" name="p_sqft"  class="form-control mb-3" placeholder="eg: 1400" required="">


        <div class="form-group">
      <label for="p_type" class="mb-1">Choose the type of Property:</label>
      <select id="p_type" value="{{tTuple.P_TYPE}}" name="p_type" class="custom-select mb-4">
        <option>Flat</option>
        <option>Villa</option>
      </select>
        </div>

        <button class="btn btn-lg btn-info btn-block" type="submit">UPDATE LISTING</button>

    </button>

    </form>
  </body>
</html>

{% endblock %}