{% extends "base.html" %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron ml-5">
          <hr>
        <div class="container col-10">
          <h1 class="display-3"><b>The World of Real Estate.</b></h1>
          <p>This is a Real Estate Management system that will allow users to list and search for real estate they require in our extensive database. Serach for the property you require, with all the desired constraints.

              The Website staff verify all contents regularly. Agents work directly under us, so you can trust the our process 100%.</p>
            <h5 class="display-5">Join us today as an Agent or a Trader:</h5>
          <p><a class="btn btn-info btn-lg mt-2" href="/signup" role="button"><strong>ACCOUNT SIGN UP</strong></a></p>
        </div>
          <hr>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 m-4">
            <h2>List your Property with us</h2>
            <p>Simply enter your property details and list it in our vast database, which is will provide exposure needed for the property.</p>
            <p><a class="btn btn-secondary" href="/add" role="button">Add Listing »</a></p>
            <hr>
          </div>
          <div class="col-md-6 m-4">
            <h2>Authorized Agents, 100% Trust</h2>
            <p>Our service provides each property with an assigned agent that will manage all affairs regarding the property, to ensure transparency and provide clarity.</p>
            <p><a class="btn btn-secondary" href="/aboutus" role="button">View Agent Info »</a></p>
            <hr>
          </div>

        </div>

      </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Jumbotron Template for Bootstrap_files/jquery-3.2.1.slim.min.js.download" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Jumbotron Template for Bootstrap_files/popper.min.js.download"></script>
    <script src="./Jumbotron Template for Bootstrap_files/bootstrap.min.js.download"></script>
  

</body></html>

{% endblock %}